<div class="ui centered grid container">
    <%= form_for(@itinerary, html: {class: "ui inverted form"}) do |f| %>

        <h3 class="ui header">Itinerary Form</h3><br>

        <div class="column">
            <div class="inline fields">
                <div class="six wide field">
                    <label>Title:</label>
                        <div class="ui input focus">
                            <%= f.text_field :title, placeholder: "Next Big Adventure" %>
                        </div>
                </div>

                <div class="six wide field">
                    <label>States:</label>
                        <div class="ui input focus">
                            <%= f.collection_select(:method, Destination.states, :id, :state, prompt: true) %>
                        </div>
                </div>

                <div class="six wide field">
                    <label>Cities:</label>
                        <div class="ui input focus">
                            <% byebug %>
                            <%= f.collection_select(:destination_id, Destination.cities_for_state(method), :id, :city, prompt: true )%>
                        </div>
                </div>
            </div>
        

        
            <div class="fields">
                <div class="five wide field">
                    <label>Day 1:</label>
                        <div class="ui input focus">
                            <%= f.text_area :one_day, placeholder: "blah blah blah blah blah ..." %>
                        </div>
                </div>

                <div class="five wide field">
                    <label>Day 2:</label>
                        <div class="ui input focus">
                            <%= f.text_area :two_day, placeholder: "blah blah blah blah blah ..." %>
                        </div>
                </div>

                <div class="five wide field">
                    <label>Day 3:</label>
                        <div class="ui input focus">
                            <%= f.text_area :three_day, placeholder: "blah blah blah blah blah ..." %>
                        </div>
                </div>
            </div>
        
        </div>

        <%= f.submit "Create", class: 'ui blue inverted button' %>
    
    <% end %>
</div>


