<h1><%= @itinerary.title %></h1>

<h3><label>Day 1: <%= @itinerary.one_day %></label></h3>
<h3><label>Day 2: <%= @itinerary.two_day %></label></h3>
<h3><label>Day 3: <%= @itinerary.three_day %></label></h3>
<h3><label>Destination: <%= @itinerary.destination.location %></label></h3>
