<html>
  <head>
    <style type="text/css">

      body {
      background-color: lightgrey; 
      }
    
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: -100px;
      }
      .column {
        max-width: 450px;
      }
    </style>
  </head>

  <body>

  <div class="ui middle aligned center aligned grid">
  <div class="column">
    <h1 class="ui blue image header">
      <div class="content">
        Welcome
      </div>
    </h1>
    
      
      <% if flash[:notice] %>
        <div class="ui error message">
          <div class="header">
            <%= flash[:notice] %>
          </div>
        </div>
      <% end %>

      <%= form_for(:user, url: login_path, html: {class: "ui form"}) do |f| %>
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :username, placeholder: "username" %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, placeholder: "password" %>
            </div>
          </div>
          <div><%= f.submit "Log In", class: 'ui fluid large blue submit button' %></div>
        </div>
      <% end %>

        <div class="ui message" id="signup_message">
          <div class="field" id="signup_link">
            New to us? <%= link_to("Sign Up", new_user_path(@user)) %>
          </div>
          <div class="field">
            <%= button_to "Home", {action: "index", controller: 'destinations'}, {class: 'ui blue button', method: :get} %>
          </div>
        </div>





</div>
</div>

  </body>
</html>

