

<%= form_for(@user, url: new_user_path, html: {class: "ui form"}) do |f| %>

    <h3 class="ui block header">Information</h3>

        <div class="fields">
            <div class="three wide field">
                <%= f.label :first_name %>
                    <div class="ui input focus">
                        <%= f.text_field :first_name, placeholder: "Jon" %>
                    </div>
            </div>

            <div class="two wide field">
                <%= f.label :last_name %>
                    <div class="ui input focus">
                        <%= f.text_field :last_name, placeholder: "Boss" %>
                    </div>
            </div>

            <div class="two wide field">
                <%= f.label :gender %>
                    <div class="ui input focus">
                        <%= f.select :gender, [['Male'],['Female']], prompt: true %>
                    </div>
            </div>
        </div>

        <div class="fields">
            <div class="three wide field">
                <%= f.label :username %>
                    <div class="ui input focus">
                        <%= f.text_field :username, placeholder: "SKIZATL" %>
                    </div>
            </div>

            <div class="two wide field">
                <%= f.label :password %>
                    <div class="ui input focus">
                        <%= f.password_field :password, placeholder: "YNLdfnao78" %>
                    </div>
            </div>
        </div>

     
        <div class="two wide field">
            <%= f.label :location %>
                <div class="ui input focus">
                    <%= f.text_field :location, placeholder: "ATL, GA" %>
                </div>
        </div>
    


        <div class="field">
            <%= f.label :bio %>
                <div class="ui input focus">
                    <%= f.text_area :bio, placeholder: "ski szn every szn" %>
                </div>
        </div>

    <%= f.submit "Save", class: 'ui blue submit button' %>

<% end %>
